---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await getCollection("posts");
---
	<Base title="My blog">
		<h2>Welcome to my experience how a web developer</h2>
		<p>Here i will be post my experience with astro and develpment</p>
		<ul>
			{
				allPosts.map((post)=>{
					return <BlogPost url={'/posts/' + post.slug} title={post.data.title} />
				})
			}

		</ul>
	</Base>