---
import Base from './../layouts/Base.astro';
import Greeting from '../components/Greeting';
---
<Base title='Home Page'>
	<h2>My subtitle</h2>
	<Greeting client:load messages={['Hi', 'Hi there', 'Welcome', 'Hello visitor']} />
</Base>