---
import Navigation from "./Navigation.astro";
import Burger from "./Burger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
<header>
    <nav>
        <Burger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>