---
import NavItem from "./NavItem.astro";
---
<div class="nav-links w-full top-20 left-12 bg-red-400 hidden m-0 md:ml-20 md:block md:static md:w-auto md:bg-none md:ml-0">
    <NavItem />
    <NavItem route="about"/>
    <NavItem route="blog"/>
    <NavItem route="tags"/>
</div>